@{
    ViewData["Title"] = "Show Dishes";
}

<div class="d-flex justify-content-center align-items-center flex-column">
    <h1>Welcome to CRUDelicious</h1>
    <a href="/dishes/new">Add Dish</a>
    <table class="table table-hover">
        <tr>
            <th>Dish</th>
            <th>Chef</th>
        </tr>
        @foreach (Dish d in ViewBag.AllDishes)
        {
            <tr>
                <td><a href="/dishes/view/@d.DishId">@d.Name</a></td>
                <td>@d.Chef</td>
            </tr>
        }
    </table>
</div>
